.container{
    display: block;
    position: relative;

    width: var(--menu-width);
    height: 100vh;
}
.container_white{
    display: block;
    position: relative;

    width: var(--menu-width);
    height: 100vh;
}


.menu_btn{
    display: block;
    position: relative;

    width: 40px;
    height: 40px;

    margin: auto;
    margin-bottom: 40px;

    border: 1px solid #fff;
    border-radius: 40px;
}

.container_white .menu_btn{
    border: 1px solid #000;
    border-radius: 40px;
}