.bookmark_folder{
    width: 40px;
    vertical-align: middle;

    margin-right: 10px;
}

.folder_title{

    display: inline;
    font-size: 13px;


    margin-right: 10px;
    vertical-align: middle;
}

.created_at{
    display: inline;
    font-size: 13px;
    vertical-align: middle;
}

.container{
    display: block;
    position: relative;

    margin-top: 20px;
    margin-bottom: 20px;

}