.upload_icon_container{
    display: block;
    position: relative;
    width: 100%;
}

.icon_img{
    display: block;
    position: relative;

    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

    overflow: hidden;
}