.container{
    display: block;
    position: fixed;

    top: 30px;
    right: 10px;

    width: 60px;
    font-size: 14px;
}

.bookmark_icon{
    width: 26px !important;
    height: 22px !important;
    margin-bottom: 10px;
}

.bookmark_param{
    font-size: 14px;
}